<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

        
	<context:annotation-config />

	<!-- Definizione del bean profile -->
	<bean id="profile" class="com.gianluca.BeanAutowireQualifier.Profile" />

	<!-- Definizione del bean studente1 -->
	<bean id="studente1" class="com.gianluca.BeanAutowireQualifier.Studente">
	    <property name="nome" value="Gianluca" />
	    <property name="eta" value="21" />
	</bean>

	<!-- Definizione del bean studente2 -->
	<bean id="studente2" class="com.gianluca.BeanAutowireQualifier.Studente">
            <property name="nome" value="Shouqing" />
	    <property name="eta" value="21" />
	</bean>


</beans>
