<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--  TextEditor bean -->
	<bean id="textEditor" class="com.gianluca.IniezioneDaSetter.TextEditor">
		<property name="spellChecker" ref="spellChecker"></property>
	</bean>
	
	<!-- SpellChecker bean -->
	<bean id="spellChecker" class="com.gianluca.IniezioneDaSetter.SpellChecker">
	</bean>

</beans>
