<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="padre" class="com.gianluca.EreditarietaBean.Padre">
		<property name="message1" value="Hello World from message1 (Padre)" />
		<property name="message2" value="Hello World from message2 (Padre)" />
	</bean>
	
	<bean id="figlio" class="com.gianluca.EreditarietaBean.Figlio"
		parent="padre">
		<property name="message1" value="Hello World from message1 (Override) (Figlio)" />
		<property name="message3" value="Hello World from message3 (Nuovo) (Figlio)" />
	</bean>

</beans>
