body {
	background-color : #f1f1c1;
	color : navy;
}

.menuWrap{
    background-color: #333;
    width: 100%;
    top:0;
    left:0;
    position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    background-color:#333;
    position: relative;
}

li a {
    display: block;
    color: white;
    width: 120px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active):not(.reglink):not(.buylink) {
    background-color: #111;
}

.active {
	background-color:#4CAF50;
}


.userAreaButton {
	float:right;
}

.userAreaButton ul {
	display:none;	
		position: absolute;
	
}

.userAreaButton ul li {
}

.userAreaButton:hover ul {
	display:block;	
}

th, td, tr {
	border : 1px solid #aaa;
	padding : 5px;
}

.reglink {
	color : cornflowerblue;
	text-decoration : none;
}

.buylink {
	color : coral;
	text-decoration: none;
}

.data {
	border : 1px solid #aaa;
	border-collapse : collapse;
	margin: 15px;	
}

.descriptor {
	background-color : #4CAF50;
	color : white;
}

.container {
	margin-top: 60px;
}

img#logo {
	width: 25%;
	height: 25%;
}

input[type=number] {
    width: 196.832px;
    height: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 1px;
}

.events {
	color: red;
	font-family: helvetica;
	margin: 15px;
	display:inline-block;
}

#ordine {
	margin-left: 15px;
}

.incassi {
	display: inline;
	color: coral;
}

.button:active {
	background-color: red;
}
